{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'my_trip_stories/style.css' %}" />
    <title>Travel Book</title>
</head>

<body>
    <section class="container">
        {% for trip in trip_lists %}
        <h1> {{ trip.title}}</h1>
        <p>{{ trip.start_date}}</p>
        <p>{{ trip.end_date}}</p>
        <p>{{ trip.}}</p>
        {% endfor %}
    </section>
</body>

</html>
